class User{
	public static void main(String[] args){
	}
}

class UserDAO{
	public static void main(String[] args){
	
	}
}

class UserService{
	public static void main(String[] args){
	
	}
}

class UserController{
	public static void main(String[] args){
	
	}
}
/*
作业
*/
